info:
    version: 1.0.0
    title: 'ProClass API'
    contact:
        name: northwestopendata
        url: 'https://github.com/northwestopendata'
        email: northwestopendata@gmail.com
    x-gitrows-repository: 'https://github.com/northwestopendata/lgtc_refdata/blob/master/proclass_17/proclass_17.csv'
    x-gitrows-api-path: '@github/northwestopendata/lgtc_refdata/proclass_17/proclass_17.csv'
    license:
        name: 'MIT License'
        url: 'https://opensource.org/licenses/MIT'
    description: "ProClass is one of the purchasing categories used by local governments, it comprises of a numeric code with 3 levels of text description and a clarification column.\n\nSee https://github.com/northwestopendata/lgtc_refdata/tree/master/proclass_17\n\n---\n\nCreated with [GitRows](https://gitrows.com)"
components:
    schemas:
        Error:
            type: object
            properties:
                code:
                    type: integer
                    format: int32
                message:
                    type: string
                documentation:
                    type: object
                    properties:
                        description:
                            type: string
                        url:
                            type: string
        Record:
            type: object
            properties:
                code:
                    type: integer
                    format: int32
                    description: 'ProClass Code'
                level1:
                    type: string
                    description: 'Level 1 Description'
                level2:
                    type: string
                    description: 'Level 2 Description'
                level3:
                    type: string
                    description: 'Level 3 Description'
                clarification_info:
                    type: string
                    description: 'Clarification Information'
openapi: 3.0.0
servers:
    -
        url: 'https://api.gitrows.com'
paths:
    /@github/northwestopendata/lgtc_refdata/proclass_17/proclass_17.csv:
        get:
            description: 'Return a list of records'
            operationId: listRecords
            parameters:
                -
                    in: query
                    name: code
                    schema:
                        oneOf:
                            -
                                type: integer
                            -
                                type: string
                    description: "Select records that match value for `code`.\n\nYou can optionally use the following comparison operators as prefixes to your values, e.g. `code=gt:10`:\n\n`not:` equals not; `lt:` less than; `lte:` less than or equal; `gt:` greater than; `gte:` greater than or equal"
                    allowReserved: true
                -
                    in: query
                    name: level1
                    schema:
                        type: string
                    description: "Select records that match value for `level1`.\n\nYou can optionally use the following comparison operators as prefixes to your values, e.g. `level1=*:foo`:\n\n`starts:` text starts with, alias: `^:`; `contains:` contains text, alias: `*:`; `ends:` text ends with, alias: `$:`"
                    allowReserved: true
                -
                    in: query
                    name: level2
                    schema:
                        type: string
                    description: "Select records that match value for `level2`.\n\nYou can optionally use the following comparison operators as prefixes to your values, e.g. `level2=*:foo`:\n\n`starts:` text starts with, alias: `^:`; `contains:` contains text, alias: `*:`; `ends:` text ends with, alias: `$:`"
                    allowReserved: true
                -
                    in: query
                    name: level3
                    schema:
                        type: string
                    description: "Select records that match value for `level3`.\n\nYou can optionally use the following comparison operators as prefixes to your values, e.g. `level3=*:foo`:\n\n`starts:` text starts with, alias: `^:`; `contains:` contains text, alias: `*:`; `ends:` text ends with, alias: `$:`"
                    allowReserved: true
                -
                    in: query
                    name: clarification_info
                    schema:
                        type: string
                    description: "Select records that match value for `clarification_info`.\n\nYou can optionally use the following comparison operators as prefixes to your values, e.g. `clarification_info=*:foo`:\n\n`starts:` text starts with, alias: `^:`; `contains:` contains text, alias: `*:`; `ends:` text ends with, alias: `$:`"
                    allowReserved: true
                -
                    in: query
                    name: $count
                    schema:
                        type: string
                    description: 'Counts the records in the data set, use `*` or any `columnName` as parameter'
                    allowReserved: true
                -
                    in: query
                    name: $avg
                    schema:
                        type: string
                    description: 'Calculates the average of all numeric values in `columnName`'
                    allowReserved: true
                -
                    in: query
                    name: $sum
                    schema:
                        type: string
                    description: 'Calculates the sum of all numeric values in `columnName`'
                    allowReserved: true
                -
                    in: query
                    name: $min
                    schema:
                        type: string
                    description: 'Returns the smallest of all numeric values in `columnName`'
                    allowReserved: true
                -
                    in: query
                    name: $max
                    schema:
                        type: string
                    description: 'Returns the largest of all numeric values in `columnName`'
                    allowReserved: true
            responses:
                '200':
                    description: 'A list of records with any optionally provided filters applied.'
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/Record'
                default:
                    description: 'Error Payload'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Error'
